/* ================================= 
Styling 
==================================== */

body {
    background: #75ddff;
	margin: 0;
	padding: 0;
	}


.main-header {
	background: #3acec2;
	padding: .1em .1em .5em .1em;
}

.main-nav {
	margin: auto;
}


.main-nav li {
	background: #fff;
	border-radius: 50%;
	/*margin: 5px auto 5px auto;*/
	margin: 5px 5px 5px 40px;
	width: 7em;
}

a {
	color: #3acec2;
	text-align: center;
	text-decoration: none;
    font-size: 1.1em;
	display: block;
	padding: 6px 3px;
}


.main-content {
	text-align: center;
	margin: 0 1em;
}

h1 {
    padding: 0 .5em;
    font-size: 1em;
}

.content {
	padding: 1%;
	margin: 1%;
}



.affirmation {
	display: none;
}
/*Hides affirmation pic when screen is small size. See media queries below that change this display setting to 
show the pic at larger screen sizes*/

#logo {
	padding: 15px 25px 25px 29px;
	background-color: #fff;
	border-radius: 50px;
	width: 180px;
	margin: 10px;
}
/*formats the logo area to make the pic appear to have more white space around the black parts
and give the logo area rounded edges*/


.main-footer {
	background: #3acec2;
	color: white;
	text-align: center;
	padding: 20px;
}


body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
/*Helps the footer stick to bottom*/


.main-content {
	flex: 1;
}
/*Helps the footer stick to bottom*/




/* ================================= 
 Media Queries - using CSS Flexbox
==================================== */

@media (min-width: 769px) {

  .main-header, 
  .main-nav,
  .main-content  {
    display: flex;
  }


  .main-nav li {
	margin: 5px;
  }

  h1 {
	font-size: 2em;
  }

  .content {
	background-color: #3acec2;
	border-radius: 40px 10px;
  }

  .affirmation {
	display: block;
	width: 80%;
	margin: auto;
	padding: 2em;
  }   /*Make the affirmation pic appear when screen is large enough*/

}


@media (min-width: 1025px) {

.affirmation {
	width: 60%;
}    /*Keep the pic from getting too large on large screens*/

}