/* ================================= 
Styling 
-need to change settings in the code snippets 
-right now just adding random bits of code I like
==================================== */

h1 {
    padding: 0 .5em;
    color: #fff;
    font-size: 3em;
}

.main-header {
	background: #3acec2;
	padding: .001em;
}

.main-nav {
	width: 300px;
	padding: 1.75em;
	margin: auto;
}

a {
	color: #3acec2;
	text-align: center;
	text-decoration: none;
    font-size: 2em;
	display: block;
	padding: 10px 5px;
	margin: 5px;
}


.main-nav li {
	background: lavenderblush;
	border-radius: 50%;
}

body {
    background: coral;
	}

.main-content {
	text-align: center;
}

.main-footer {
	background: #3acec2;
	color: white;
	text-align: center;
	padding: 20px;

}


/* ================================= 
  Positioning
==================================== */

.main-nav {
	position: relative;
	margin-top: 35px;
}

.main-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}